:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.react-datepicker__close-icon{
  display: none;
}

.mystyle{
  background-color: #eee;
  padding: 15px 5px  0px  10px;
  border: "none";
  width: 100%;
  border-radius: 5px;
  height: 50px;
}